/* Center align the text in the cards */
.card-title,
.card-text,
.card-header {
  text-align: center;
}

/* Add some margin to the table */
.table {
  margin-top: 10px;
}

/* Style the card headers */
.card-header {
  font-size: 1.2em;
}

/* Add some padding to the card body */
/* .card-body {
  padding: 1.5rem;
} */

/* Center align the whole dashboard */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* Additional styling for table */
/* .table th,
.table td {
  text-align: center;
} */